<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.UserMapper">
	<!--登录  -->
	<select id="loginVerification" resultType="com.user.User">
		<![CDATA[
			SELECT * FROM C_User WHERE status='ACTIVATED'and username=#{0} and password=#{1}
        ]]>  
	</select>
	<delete id="delete" parameterType="String">
		delete from C_User where  username=#{username}
	</delete>
	<!-- 当前用户的信息列表  个人信息查询-->
	<select id="searchUserInfo" resultType="com.user.User">
        select * from C_User u where u.id=#{userId}
		 limit #{startRow},#{pageSize}
</select>
	<!--用户资料更新  -->
	<update id="updateUser" parameterType="com.user.User">
		update C_User set  status=#{status}, sex=#{sex}, fullname=#{fullname}, identity=#{identity}, email=#{email}, address=#{address}, phone=#{phone} where username=#{username}
	</update>
	<!-- 根据用户名查询 -->
	<select id="searchUserByName" resultType="com.user.User">
		<![CDATA[
			SELECT * FROM C_User WHERE username=#{username}
        ]]>  
	</select>
	<!--  用户注册-->
	<insert id="register" parameterType="com.user.User" >
		insert into C_User (username,password,status,sex,fullname,identity,email,address,phone) 
		VALUES (#{username},#{password},'ACTIVATED',#{sex},#{fullname},#{identity},#{email},#{address},#{phone})
	</insert>
	<!-- 用户信息记录数 -->
	<select id="countUser" resultType="int">
		SELECT COUNT(u.id) FROM C_User u
		<!-- <where>
			<if test="map.username!=null and map.username!='' ">
			 	and u.username = #{map.username}
			</if>
			<if test="map.status!=null and map.status!='' ">
				and u.status = #{map.status}
			</if>
			<if test="map.sex!=null and map.sex!=''">
				and u.sex = #{map.sex}
			</if>
			<if test="map.fullname!=null and map.fullname!=''">
				and u.fullname = #{map.fullname}
			</if>
			<if test="map.identity!=null and map.identity!=''">
				and u.identity = #{map.identity}
			</if>
			<if test="map.phone!=null and map.phone!=''">
				and u.phone = #{map.phone}
			</if>
			<if test="map.email!=null and map.email!=''">
				and u.email = #{map.email}
			</if>
			<if test="map.address!=null and map.address!=''">
				and u.address = #{map.address}
			</if>
			
		</where> -->
	</select>
	
	
	<!-- 中奖查询信息记录 -->
	<select id="searchUserList" resultType="map">
		SELECT * FROM C_User u
		<!-- <where>
			<if test="map.username!=null and map.username!='' ">
			 	and u.username = #{map.username}
			</if>
			<if test="map.status!=null and map.status!='' ">
				and u.status = #{map.status}
			</if>
			<if test="map.sex!=null and map.sex!=''">
				and u.sex = #{map.sex}
			</if>
			<if test="map.fullname!=null and map.fullname!=''">
				and u.fullname = #{map.fullname}
			</if>
			<if test="map.identity!=null and map.identity!=''">
				and u.identity = #{map.identity}
			</if>
			<if test="map.phone!=null and map.phone!=''">
				and u.phone = #{map.phone}
			</if>
			<if test="map.email!=null and map.email!=''">
				and u.email = #{map.email}
			</if>
			<if test="map.address!=null and map.address!=''">
				and u.address = #{map.address}
			</if>
			
		</where> -->
		order by u.id ASC limit #{startRow},#{pageSize}
	</select>
	<!-- 
	20160426
	20160427
	更新用户余额，充值同样用这个语句 -->
	<update id="updateAccount" parameterType="map">
		update c_user set  account=#{map.newaccount} where id=#{map.userId}
	</update>
	<!-- 20160426
		根据id查询
	 -->
	<select id="searchUserById" resultType="com.user.User">
        select * from C_User u where u.id=#{userId}
</select>


<update id="userUpdaePassword" parameterType="com.user.User">
		update c_user set  password=#{password} where username=#{username} and identity=#{identity} and email=#{email} and phone=#{phone}
	</update>
	
	<!-- 根据id查询下单人详细信息 -->
	<select id="getUserInfoById"  resultType="com.user.User">
		SELECT * FROM c_user u WHERE u.`id`=#{map.u_id} 
	</select>
</mapper>